version: '3'

services:
  db:
    build:
      context: .
      dockerfile: datamodel/.docker/Dockerfile
    image: teksi/tww:${DOCKER_TAG:-unstable}
    working_dir: /src
    volumes:
      - ./datamodel:/src
    ports:
      # making the postgres database accessible for debugging
      - ${TWW_PG_PORT:-5432}:${TWW_PG_PORT:-5432}

  schemaspy:
    image: schemaspy/schemaspy
    volumes:
      - .:/output
      - ./datamodel/schemaspy.properties:/schemaspy.properties
    depends_on:
      - db
    network_mode: "service:db"
    command: [
      "-configFile",
      "/schemaspy.properties"
    ]
    profiles:
      - schemaspy
