
services:
  db:
    build:
      context: .
      dockerfile: datamodel/.docker/Dockerfile
      args:
        POSTGIS_IMAGE: ${POSTGIS_IMAGE:-postgis/postgis:16-3.5-alpine}
    image: teksi/tww:${DOCKER_TAG:-unstable}
    working_dir: /usr/src
    environment:
      - DB_NAME
      - PG_SERVICE
      - EXTENSION_CI
      - EXTENSION_AGXX
      - EXTENSION_ZIP
      - LANG_CODE
    volumes:
      - .:/usr/src
    ports:
      # making the postgres database accessible for debugging
      - ${PG_CONTAINER_PORT:-5432}:${PG_CONTAINER_PORT:-5432}

  qgis:
    build:
      context: .
      dockerfile: plugin/.docker/Dockerfile
      args:
        QGIS_TEST_VERSION: ${QGIS_TEST_VERSION:-latest}
    tty: true
    volumes:
      - .:/usr/src
    depends_on:
      - db
    profiles:
      - qgis

  schemaspy:
    image: schemaspy/schemaspy
    volumes:
      - ./datamodel/schemaspy:/output
      - ./datamodel/schemaspy.properties:/schemaspy.properties
    depends_on:
      - db
    command: [
      "-configFile",
      "/schemaspy.properties"
    ]
    user: "${UID}:${GID}"
    profiles:
      - schemaspy
