name: Datamodel | Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - datamodel/**
      - '.github/workflows/datamodel-test.yml'
  pull_request:
    branches:
      - main
    paths:
      - datamodel/**
      - '.github/workflows/datamodel-test.yml'
  workflow_dispatch:


jobs:
  datamodel-tests:
    name: Run unit tests on datamodel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: "build dockerfile"
        run:  docker build --build-arg RUN_TEST=True -f datamodel/.docker/Dockerfile --tag teksi/wastewater:unstable .

      - name: "initialize container"
        run: |
          docker run -d -p 5432:5432 --name teksi-wastewater teksi/wastewater:unstable
          docker exec teksi-wastewater init_db.sh wait

      - name: run tests
        run:  docker exec teksi-wastewater pytest

      - name: logs
        if: failure()
        run: docker logs teksi-wastewater

  static-tests:
    name: Run static tests on datamodel
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: ./datamodel/test/static_tests.sh
